@import './variables.scss';

.container{
    width: 80%;
    margin: auto;

}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.btn-blue{
    background-color: $primary_color;
    padding:10px 20px;
    color: $secondary_color;
    font-weight: bold;
    display: inline-block;
}
